<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Flask Blog
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="#">Добавить статью</a></li>
        </ul>
    </nav>
</header>
<hr>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>